
h1 {
    color:rgb(38, 129, 38);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
body {
    color:rgb(31, 75, 14);
}
h3 {
    font-style: italic;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
body{ 
    background-color: goldenrod;
}
.container{
    background-color: rgb(118, 189, 189);
}
h5{
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

ul{
    text-align: center;
    list-style-position: inside;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
