
h1 {
    color:rgb(38, 129, 38);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
body {
    color:rgb(31, 75, 14);
}
h3 {
    font-style: italic;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
body{ 
    background-color: goldenrod;
}
.container{
    background-color: rgb(118, 189, 189);
}
h4{
    text-align: center;
}
h5{
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

ul{
    text-align: center;
    list-style-position: inside;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.green-background{
    background-color: green;
}
.blue-background {
    background-color: lightblue;
}
.original {
    background-color: goldenrod;
}
.box:hover {
    border:1px solid green;
    background-color: greenyellow;
    text-align: center;
    display: inline-block;
    width: 50px;
}